{% extends 'base.html' %}
{% block main %}


<section id="account-info" class="section">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <img src="{{ current_user.image }}" alt="Placeholder image" width="200px">

                    </div>
                    <div class="media-content">
                        <h2 class="title has-text-centered">{{ title }}</h2>
                        <p class="title is-4"> {{current_user.username}} </p>
                        <p class="subtitle is-6">{{ current_user.email}} </p>
                        <div class="content">
                            <p>
                                About:
                            </p>
                            {% if current_user.bio %}
                            {{ current_user.bio }}
                            {% else %}
                            Write an About Me!
                            {% endif %}
                        </div>
                        <div class="card-footer">


                            <button id="edit-account" class="mx-6 mt-3 button is-info card-footer-item">Edit
                                Account</button>
                            <a href="#" class="mx-6 mt-3 button is-danger card-footer-item">Delete Account</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>

<section id="edit-profile-form" class="section hidden">


    <div class="container">
        <div class="card">
            <div class="card-content">
                <h2 class="title has-text-centered"> Edit Account </h2>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}

                    {% include '_form_partials/_username_field.html' %}
                    {% include '_form_partials/_email_field.html' %}

                    {% include '_form_partials/_picture_field.html' %}
                    {% include '_form_partials/_bio_field.html' %}
                    {% include '_form_partials/_submit.html' %}

                </form>

            </div>

        </div>
    </div>
</section>



</div>






{% endblock %}