{% extends 'base.html' %}
{% block main %}

<section id="contacts-section" class="section">
    <div class="container">
        <button class="button">Show Contacted</button>
        <div class="box">
            <h2 class="title has-text-centered">All Contacts</h2>


            <div class="table-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Email List</th>
                            <th>Contacted</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <th class="has-text-weight-light">{{ contact.id }}</th>
                            <th class="has-text-weight-light">{{ contact.name }}</th>
                            <th class="has-text-weight-light">{{ contact.email }}</th>
                            <th class="has-text-weight-light">{{ contact.phone }}</th>
                            <th class="has-text-weight-light">{{ contact.subject }}</th>
                            <th class="has-text-weight-light">{{ contact.body }}</th>
                            <th class="has-text-weight-light">{{ contact.join }}</th>
                            <th class="has-text-weight-light">Yes/No</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>



        </div>
    </div>

</section>

{% endblock %}