{% extends 'base.html' %}
{% block main %}

<div class="mt-4"></div>
<section id="register-form">
    <div class="container" style="max-width: 500px;">
        <h2 id="test" class=" has-text-centered title is-3">{{ title }}</h2>

        <div class="box">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {% include '_form_partials/_username_field.html' %}
                {% include '_form_partials/_email_field.html' %}
                {% include '_form_partials/_password_field.html' %}
                {% include '_form_partials/_confirm_password_field.html' %}
                {% include '_form_partials/_remember.html' %}
                {% include '_form_partials/_submit.html' %}
            </form>
        </div>
    </div>
</section>

{% endblock %}