{% extends 'base.html' %}
{% block main %}


<section class="section">
    <div class="container">
        <div class="card">
            <p>{{ title }}</p>
            <div class="card-content">
                <h2 class="title is-2">{{ contact.name }}</h2>
                <p class="subtitle is-6">
                    <span class="icon"><i class="fas fa-phone"></i></span>{{ contact.phone }}
                    <span class="icon"><i class="fas fa-envelope"></i></span>{{ contact.email }}
                </p>
                <hr>
                <p class="title is-4">
                    {{ contact.subject }}
                </p>
                <p class="subtitle is-6">
                    {{ contact.date_posted }}
                </p>
                <div class="content">
                    {{ contact.body }}
                </div>

                <!-- hidden form -->
                <div id="add-comment-form" class="mb-3">
                    <hr>
                    <h3 class="title is-4 has-text-centered mb-0">Comment</h3>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        {% include '_form_partials/_subject_field.html'%}
                        {% include '_form_partials/_body_field.html'%}
                        {% include '_form_partials/_submit.html'%}
                    </form>
                </div>

                <footer class="card-footer">
                    <div class="card-footer-item">


                        <button id="add-comment-btn" class="button is-white">Comment</button>
                    </div>
                    <a href="{{ url_for('edit_contact', contact_id=contact.id) }}" class="card-footer-item">Edit</a>
                    <div class="card-footer-item">

                        <form action="{{ url_for('delete_contact', contact_id=contact.id) }}" method="POST">
                            <button class="card-footer-item button is-danger is-inverted" type="submit">Delete</button>

                        </form>
                    </div>

                </footer>
            </div>
        </div>
    </div>
</section>

<!-- Posts Section -->
<section class="section">
    <div class="container box">
        <h2 class="title has-text-centered">Comments</h2>
        <hr>
        {% for post in posts %}
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="{{ post.post_author.image }}">
                </p>
                {{ post.post_author.username }}
            </figure>
            <div class="media-content">
                <div class="content">
                    <h4 class="title mb-0">{{ post.subject }}</h4>
                    <p>
                        {{post.body}}
                        <br>
                        <small><a>Reply </a><a href="">Edit </a><a href="">Delete</a></small>
                    </p>
                </div>

                <!-- <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Sean Brown</strong>
                                <br>
                                Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi
                                tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a
                                nulla sagittis, a lobortis leo feugiat.
                                <br>
                                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                            </p>
                        </div>
                    </div>
                </article> -->

                <!-- <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Kayli Eunice </strong>
                                <br>
                                Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis
                                sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis
                                in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id
                                feugiat.
                                <br>
                                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                            </p>
                        </div>
                    </div>
                </article> -->
            </div>
        </article>

        {% endfor %}
    </div>
</section>

<script defer src="{{ url_for('static', filename='one_contact.js') }}"></script>

{% endblock %}