{% extends 'base.html' %}
{% block main %}


<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h2 class="title is-2">{{ contact.name }}</h2>
                <p class="subtitle is-6">
                    <span class="icon"><i class="fas fa-phone"></i></span>{{ contact.phone }}
                    <span class="icon"><i class="fas fa-envelope"></i></span>{{ contact.email }}
                </p>
                <hr>
                <p class="title is-4">
                    {{ contact.subject }}
                </p>
                <p class="subtitle is-6">
                    {{ contact.date_posted }}
                </p>
                <div class="content">
                    {{ contact.body }}
                </div>

                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Comment</a>
                    <a href="{{ url_for('edit_contact', contact_id=contact.id) }}" class="card-footer-item">Edit</a>
                    <div class="card-footer-item">

                        <form action="{{ url_for('delete_contact', contact_id=contact.id) }}" method="POST">
                            <button class="card-footer-item button is-danger is-inverted" type="submit">Delete</button>

                        </form>
                    </div>

                </footer>
            </div>
        </div>
    </div>
</section>

{% endblock %}