<!-- Confirm Password -->
<div class="field">
    {{form.confirm_password.label (class='label')}}

    {% if form.confirm_password.errors %}

    <div class="control has-icons-left has-icons-right">
        {{form.confirm_password (class='input is-danger') }}
        <span class="icon is-small is-left">
            <!-- Icon for confirm_password -->
            <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
    </div>
    {% for error in form.confirm_password.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}

    {% else %}

    <div class="control has-icons-left has-icons-right">
        {{form.confirm_password (class='input') }}
        <span class="icon is-small is-left">
            <!-- Icon for confirm_password -->
            <i class="fas fa-lock"></i>
        </span>
    </div>
    {% endif %}
</div>